@model HouseOfWani.Models.BannerImage

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BannerImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummerImage1)
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrEmpty(Model.SummerImage1))
            {
                <img src="~/Banner/@Model.SummerImage1" alt="@Model.AltText" style="max-width: 300px; height: auto;" />
            }
            else
            {
                <span>No image available</span>
            }
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButtonText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButtonText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButtonLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButtonLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
